{% extends 'base.html' %}

{% block content %}
<div class="container content-max">
    <h2>Cargar Productos por Excel</h2>
    <p>Sube un archivo Excel para agregar o actualizar productos. Si un producto ya existe, será actualizado.</p>
    <br>
    <p>
        Descarga la plantilla en el siguiente enlace:
        <a href="{% url 'download_template' %}" class="btn btn-info">Descargar Plantilla</a>
    </p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="file">Archivo Excel:</label>
            <input type="file" name="file" id="file" class="form-control" accept=".xlsx" required>
        </div>
        <button type="submit" class="btn btn-success mt-3">Subir Archivo</button>
    </form>
    <br>
        {% if request.user.is_superuser %}
            {% url 'product_management' as back_href %}
            {% include 'partials/back_button.html' with href=back_href text='Volver a Productos' %}
        {% endif %}
</div>
{% endblock %}
